<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Employee Id: </b></label> {{employee.employeeId}}
    </div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Title: </b></label> {{employee.title}}
    </div>
    <div>
        <label> <b> Division: </b></label> {{employee.division}}
    </div>
    <div>
        <label> <b> Building: </b></label> {{employee.building}}
    </div>
    <div>
        <label> <b> Room: </b></label> {{employee.room}}
    </div>
</div>